FaceAntiSpoofing/util/__pycache__/__init__.cpython-36.pyc
FaceAntiSpoofing/util/__pycache__/__init__.cpython-37.pyc
FaceAntiSpoofing/util/__pycache__/__init__.cpython-38.pyc
FaceAntiSpoofing/util/__pycache__/__init__.cpython-39.pyc
FaceAntiSpoofing/util/__pycache__/evaluator.cpython-38.pyc
FaceAntiSpoofing/util/__pycache__/evaluator.cpython-39.pyc
FaceAntiSpoofing/util/__pycache__/meters.cpython-37.pyc
FaceAntiSpoofing/util/__pycache__/meters.cpython-39.pyc
FaceAntiSpoofing/util/__pycache__/utils_FAS.cpython-36.pyc
FaceAntiSpoofing/util/__pycache__/utils_FAS.cpython-37.pyc
FaceAntiSpoofing/util/__pycache__/utils_FAS.cpython-38.pyc
FaceAntiSpoofing/util/__pycache__/utils_FAS.cpython-39.pyc
FaceAntiSpoofing/util/utils_FAS.pyc
FaceAntiSpoofing/trainers/__pycache__/__init__.cpython-38.pyc
FaceAntiSpoofing/trainers/__pycache__/__init__.cpython-39.pyc
FaceAntiSpoofing/trainers/__pycache__/clip.cpython-38.pyc
FaceAntiSpoofing/trainers/__pycache__/clip.cpython-39.pyc
FaceAntiSpoofing/trainers/__pycache__/cocoop.cpython-39.pyc
FaceAntiSpoofing/trainers/__pycache__/common.cpython-38.pyc
FaceAntiSpoofing/trainers/__pycache__/common.cpython-39.pyc
FaceAntiSpoofing/trainers/__pycache__/coop.cpython-38.pyc
FaceAntiSpoofing/trainers/__pycache__/coop.cpython-39.pyc
FaceAntiSpoofing/trainers/__pycache__/FAS_trainer.cpython-38.pyc
FaceAntiSpoofing/trainers/__pycache__/FAS_trainer.cpython-39.pyc
FaceAntiSpoofing/trainers/__pycache__/imagenet_templates.cpython-39.pyc
FaceAntiSpoofing/trainers/__pycache__/zsclip.cpython-39.pyc
FaceAntiSpoofing/clip/__pycache__/__init__.cpython-38.pyc
FaceAntiSpoofing/clip/__pycache__/__init__.cpython-39.pyc
FaceAntiSpoofing/clip/__pycache__/clip.cpython-38.pyc
FaceAntiSpoofing/clip/__pycache__/clip.cpython-39.pyc
FaceAntiSpoofing/clip/__pycache__/model.cpython-38.pyc
FaceAntiSpoofing/clip/__pycache__/model.cpython-39.pyc
FaceAntiSpoofing/clip/__pycache__/simple_tokenizer.cpython-38.pyc
FaceAntiSpoofing/clip/__pycache__/simple_tokenizer.cpython-39.pyc
FaceAntiSpoofing/datasets/__pycache__/__init__.cpython-38.pyc
FaceAntiSpoofing/datasets/__pycache__/__init__.cpython-39.pyc
FaceAntiSpoofing/datasets/__pycache__/base_dataset.cpython-37.pyc
FaceAntiSpoofing/datasets/__pycache__/base_dataset.cpython-38.pyc
FaceAntiSpoofing/datasets/__pycache__/base_dataset.cpython-39.pyc
FaceAntiSpoofing/datasets/__pycache__/icmo_loader.cpython-37.pyc
FaceAntiSpoofing/datasets/__pycache__/icmo_loader.cpython-39.pyc
FaceAntiSpoofing/datasets/__pycache__/icmo.cpython-38.pyc
FaceAntiSpoofing/datasets/__pycache__/icmo.cpython-39.pyc
FaceAntiSpoofing/datasets/__pycache__/JFSFDB.cpython-38.pyc
FaceAntiSpoofing/datasets/__pycache__/samplers.cpython-37.pyc
FaceAntiSpoofing/datasets/__pycache__/samplers.cpython-38.pyc
FaceAntiSpoofing/datasets/__pycache__/samplers.cpython-39.pyc
FaceAntiSpoofing/datasets/__pycache__/scw_loader.cpython-37.pyc
FaceAntiSpoofing/datasets/__pycache__/scw_loader.cpython-39.pyc
FaceAntiSpoofing/datasets/__pycache__/uniattack_project.cpython-38.pyc
FaceAntiSpoofing/datasets/__pycache__/UniAttackData.cpython-38.pyc
FaceAntiSpoofing/datasets/__pycache__/UniAttackData.cpython-39.pyc
FaceAntiSpoofing/datasets/__pycache__/UniAttackDataProject.cpython-38.pyc
FaceAntiSpoofing/datasets/__pycache__/wrapper.cpython-37.pyc
FaceAntiSpoofing/datasets/__pycache__/wrapper.cpython-38.pyc
FaceAntiSpoofing/datasets/__pycache__/wrapper.cpython-39.pyc
FaceAntiSpoofing/losses/__pycache__/CvT_loss.cpython-37.pyc
FaceAntiSpoofing/losses/__pycache__/CvT_loss.cpython-38.pyc
FaceAntiSpoofing/losses/__pycache__/CvT_loss.cpython-39.pyc
FaceAntiSpoofing/losses/__pycache__/hard_triplet_loss.cpython-37.pyc
FaceAntiSpoofing/losses/__pycache__/hard_triplet_loss.cpython-39.pyc
FaceAntiSpoofing/losses/__pycache__/losses.cpython-37.pyc
FaceAntiSpoofing/losses/__pycache__/SupCon_loss.cpython-37.pyc
FaceAntiSpoofing/losses/__pycache__/SupCon_loss.cpython-39.pyc
FaceAntiSpoofing/losses/__pycache__/Triplet_loss.cpython-37.pyc
FaceAntiSpoofing/losses/__pycache__/Triplet_loss.cpython-39.pyc
FaceAntiSpoofing/__pycache__/FaceAntiSpoofing.cpython-38.pyc
FaceAntiSpoofing/clip/bpe_simple_vocab_16e6.txt.gz
FaceAntiSpoofing/output/log.txt-2024-09-25-17-47-46
FaceAntiSpoofing/output/log.txt-2024-09-25-18-00-19
FaceAntiSpoofing/output/log.txt
FaceAntiSpoofing/util/__init__.pyc
